body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select:   none;
    -o-user-select:     none;
    user-select:        none;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    padding: 0;
    margin: 0;
}

#img_logo {
  width: 4em;
  vertical-align: middle;
  padding: .5em;
}

key {
  font-family: monospace;
	/* font-weight: 700; */
  padding: .1em .3em;
  background-color: rgb(230, 230, 230);
  border-radius: .3em;
}

#div_description {
  margin:  .8em auto 3em;
  width: 28em;
  max-width: 95vw;
}

ol {
    text-align: left;
}

true {
  color: green;
  /* font-weight: 700; */
}

false {
  color: red;
  /* font-weight: 700; */
}

#div_setup {
  margin:  .8em auto 3em;
  width: 28em;
  max-width: 95vw;
}

div {
  margin: 0 auto 0;
  text-align: center;
}

#div_setup input[type="range"] {
    width: 9em;
    vertical-align: middle;
}

#td_question {
  display: inline-block;
  font-size: 2.5em;
  border-radius: .3em;
  padding: 0;
  text-align: right;
  width: 6.3em;
}

#div_main div, #div_main input {
    font-size: 2.5em;
}

#answer {
  border: 0;
  padding-right: .1em;
  text-align: right;
  width: 1.8em;
  background-color: rgb(240, 240, 240);
  -moz-appearance: textfield;
}

#div_history_items {
    font-size: 2em;
}

.hidden {
  display: none;
}

table {
    margin: 0 auto 0;
    white-space: nowrap;
}

td {
    text-align:right;
    vertical-align: middle;
    padding: 0;
}

.probability {
    min-width: 2.8em;
}

input {
  vertical-align: middle;
  padding: 0;
}

button {
  margin: 3em;
  padding: 1em;
}

.answer-true-1 {
    animation-name: answer-true-1;
    animation-duration: 500ms;
}
.answer-true-2 {
    animation-name: answer-true-2;
    animation-duration: 500ms;
}
.answer-false-1 {
    animation-name: answer-false-1;
    animation-duration: 500ms;
}
.answer-false-2 {
    animation-name: answer-false-2;
    animation-duration: 500ms;
}

@keyframes answer-true-1 {
    0% {box-shadow: 0 0}
   40% {box-shadow: 0 0 3px #0F0}
   40% {box-shadow: 0 0 7px #0F0}
   60% {box-shadow: 0 0 3px #0F0}
  100% {box-shadow: 0 0}
}
@keyframes answer-true-2 {
    0% {box-shadow: 0 0}
   40% {box-shadow: 0 0 3px #0F0}
   40% {box-shadow: 0 0 7px #0F0}
   60% {box-shadow: 0 0 3px #0F0}
  100% {box-shadow: 0 0}
}

@keyframes answer-false-1 {
    0% {box-shadow: 0 0}
   40% {box-shadow: 0 0 3px #F00}
   40% {box-shadow: 0 0 7px #F00}
   60% {box-shadow: 0 0 3px #F00}
  100% {box-shadow: 0 0}
}
@keyframes answer-false-2 {
    0% {box-shadow: 0 0}
   40% {box-shadow: 0 0 3px #F00}
   40% {box-shadow: 0 0 7px #F00}
   60% {box-shadow: 0 0 3px #F00}
  100% {box-shadow: 0 0}
}
